<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        {{>header}}
        <header>
            <a href="./help">Index</a>
            <a href="./about">About</a>
            <a href="./weather">Weather</a>
        </header>
         <img src="/images/abbas.jpg">
        {{>footer}}
    </body>
</html>