body{
    margin-left: 0 auto;
    padding: 0 16px;
    max-width: 650px;
    font-family: Arial;
    color: #333333;
    
}
h1{
    font-size:64px ;
    margin-bottom: 16px;
   
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
header a{
    
    color:	rgb(169,169,169);
    margin-right: 16px;
    text-decoration: none;
}
p{
    font-size: 30px;
    text-decoration: none;
    color:	rgb(169,169,169);
  
    
    
}
img{
   
    padding: 30px;
    width: 250px;
    height: 250px;
}